.form {
	margin: 8% auto;
	padding: 30px 40px 20px;
	width: 35%;
	border: 2px solid grey;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.9);
}

.image {
    width: 100%;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    transition: 0.8s;
}

.image:hover {
    opacity: 0.6;
}