.image_container {
    margin: 2% auto 3%;
    padding: 1% 0px 2%;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid gray;
    border-radius: 20px;
}

.image {
    width: 100%;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    transition: 0.8s;
}

.image:hover {
    opacity: 0.6;
}

.icon {
	height: 45px;
    margin: 0% 2% 1% 5%;
}

.header {
    color: rgb(87, 87, 87);
    text-align: center;
    margin: 0;
}

.removed_header {
    color: rgb(249, 79, 49);
    text-align: center;
    text-decoration: line-through;
    margin: 0;
}

.author_caption {
    color: black;
    display: inline;
    font-size: 120%;
}