.navbar-icon {
	display: block;
	height: 45px;
}

.f20 {
  font-size: 20px;
}

.search-bar-area {
  padding-top: 15%;
}

.search-caption {
  color: gray;
  font-size: 60px;
  text-align: center;
}

input[type=text].search-bar {
  width: 38%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-image: url('../src/Content/searchicon.png');
  background-size: 22px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 6px 20px 6px 40px;
  border-radius: 20px;
  font-size: 20px;
}

body {
	background-image: url('/src/Content/background.png');
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.data-box {
	margin: 5% auto;
	padding: 30px 40px 20px;
	width: 35%;
	border: 2px solid grey;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.9);
}

.header {
  color: rgb(87, 87, 87);
  text-align: center;
  margin: 0;
}

.record-element {
  display: inline-block;
  margin: 0%;
  width: 17%;
}

.records-container {
  width: 85vw;
  margin: 3% auto;
	padding: 2% 1%;
	border: 2px solid grey;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.9);
}

.apply-button {
  width: 9%;
}